= simple_form_for [:admin, @collection_type], :html => {:class => 'form-horizontal well'} do |f|
	= f.input :name
	= f.input :full_name
	= f.input :description
	= f.button :submit
	= link_to t('helpers.submit.cancel').html_safe, admin_collection_types_path, :class => 'btn'

