= simple_form_for [:admin, @parameter], :html => {:class => 'form-horizontal'} do |f|
	= f.input :name, :disabled => @parameter.new_record? ? false : true
	= f.input :description
	= f.input :value
	= f.button :submit, t('helpers.submit.create').html_safe
	= link_to 'Annuler', admin_parameters_path, :class => 'btn'

