- unless parameters.empty?

	= paginate parameters
	%table.table
		%tr
			%th= sortable 'name', t('parameter.name').html_safe
			%th= t('parameter.description').html_safe
			%th= sortable 'value', t('parameter.value').html_safe
			%th

		%tbody
			- parameters.each do |param|
				%tr
					%td= link_to param.name, admin_parameter_path(param)
					%td= param.description.truncate(55, :omission => '...') if param.description
					%td= param.value
					%td
						= link_to edit_admin_parameter_path(param), :class => 'btn btn-small', :title => t('parameter.edit').html_safe do
							%i.icon-edit

	= paginate parameters
