.bartitle
	%h2.pull-left= t('model.parameter').html_safe
	.btn-toolbar.text-right
		.btn-group
			= link_to new_admin_parameter_path, :class => 'btn', :title => t('parameter.new').html_safe do
				%i.icon-plus
					
	.well.form-actions
		%form.form-search
			= text_field_tag :q, nil, :placeholder => t('parameter.search').html_safe, :class => 'searchbar pull-left', 'data-provide' => 'typeahead', :klass => "parameters"
			= link_to admin_reset_path('parameters'), :remote => true, :class => 'btn reset', :title => t('titles.reset').html_safe do
				%i.icon-retweet

	#parameters.partial
		= render :partial => 'listing', :locals => {:parameters => @objects}
