.bartitle
	%h2.left-align= t('model.collection').html_safe
	.btn-toolbar.text-right
		.btn-group
			= link_to new_admin_collection_path, :class => 'btn', :title => t('collection.new').html_safe do
				%i.icon-plus
					

- unless @collections.empty?
	%table.table
		%tr
			%th= t('collection.id').html_safe
			%th= t('collection.name').html_safe
			%th= t('collection.host').html_safe
			%th= t('collection.last_harvest').html_safe
			%th

		%tbody
			- @collections.each do |collection|
				%tr{:class => harvest_success(collection)}
					%td= collection.id
					%td= link_to collection.full_name.html_safe, admin_collection_path(collection)
					%td= collection.host.html_safe
					%td= last_harvest(collection).html_safe
					%td
						= link_to edit_admin_collection_path(collection), :class => 'btn btn-small', :title => t('collection.edit').html_safe do
							%i.icon-edit
						= link_to admin_collection_path(collection), :class => 'btn btn-small', :title => t('collection.destroy').html_safe, method: :delete, data: { confirm: t('collection.confirm_destroy').html_safe } do
							%i.icon-remove
						= link_to edit_admin_collection_path(collection), :class => 'btn btn-small', :title => t('collection.new_harvest').html_safe do
							%i.icon-time

