test
.bartitle
	%h2.pull-left= t('model.collection').html_safe
	.btn-toolbar.text-right
		.btn-group
			= link_to new_admin_collection_path, :class => 'btn', :title => t('collection.new').html_safe do
				%i.icon-plus

	.well.form-actions
		%form.form-search
			= text_field_tag :q, nil, :placeholder => t('collection.search').html_safe, :class => 'searchbar pull-left', 'data-provide' => 'typeahead', :klass => "/collections"
			%label{:for => 'status'} 
				= t('collection.status').html_safe
			= select_tag :status, options_for_select(statuses), :url => by_harvest_status_admin_collections_path, :partial => '#collections', :class => 'large filter'

	#collections
		= render :partial => 'listing', :locals => {:collections => @collections}
