- unless collections_groups.empty?

	.pull-left{:style => 'margin-top: 10px'}
		= [collections_groups.total_count.to_s, t('helpers.words.results')].join(" ").html_safe
	= paginate collections_groups
	%table.table
		%tr
			%th= sortable 'full_name', t('collections_group.full_name').html_safe
			%th= sortable 'name', t('collections_group.name').html_safe
			%th= t('collections_group.description').html_safe
			%th= t('collections_group.collection_type').html_safe
			%th= t('collections_group.enabled').html_safe
			%th
		%tbody
			- collections_groups.each do |collections_group|
				%tr{:class => collections_group.enabled ? 'success' : 'error'}
					%td= link_to collections_group.full_name.html_safe, admin_collections_group_path(collections_group)
					%td= collections_group.name
					%td= collections_group.description.truncate(30, :omission => '...').html_safe
					%td= link_to collections_group.collection_type.full_name.html_safe, admin_collection_type_path(collections_group.collection_type)
					%td= collections_group.enabled ? t('helpers.words.yeslabel') : t('helpers.words.nolabel')
					%td
						= link_to edit_admin_collections_group_path(collections_group), :class => 'btn btn-small', :title => t('collections_group.edit').html_safe do
							%i.icon-edit
						= link_to admin_collections_group_path(collections_group), :class => 'btn btn-small', :title => t('collections_group.destroy').html_safe, method: :delete, data: { confirm: t('collections_group.confirm_destroy').html_safe } do
							%i.icon-remove

	= paginate collections_groups

