= simple_form_for [:admin, @user], :html => {:class => 'form-horizontal'} do |f|
	= f.input :name
	= f.input :email
	= f.input :role, collection: User::ROLES, as: :radio_buttons
	= f.button :submit
	= link_to 'Annuler', admin_users_path, :class => 'btn'

