= simple_form_for [:admin, @user], :html => {:class => 'form-horizontal'} do |f|
	= f.input :name
	= f.input :email
	= f.button :submit, t('helpers.submit.create').html_safe
	= link_to 'Annuler', admin_users_path, :class => 'btn'

