- unless users.empty?

	= paginate users
	%table.table
		%tr
			%th= sortable 'name', t('user.name').html_safe
			%th= sortable 'email', t('user.email').html_safe
			%th

		%tbody
			- users.each do |user|
				%tr
					%td= link_to user.name, admin_user_path(user)
					%td= user.email
					%td
						= link_to edit_admin_user_path(user), :class => 'btn btn-small', :title => t('user.edit').html_safe do
							%i.icon-edit
						= link_to admin_user_path(user), :class => 'btn btn-small', :title => t('user.destroy').html_safe, method: :delete, data: { confirm: t('user.confirm_destroy').html_safe } do
							%i.icon-remove

	= paginate users
