%html
	%head	
		= stylesheet_link_tag "application"
		= yield :stylesheet

		= javascript_include_tag "application"
		= yield :javascript

		= csrf_meta_tags
		%title
			BpiFind
	%body
		.header
		.body
			.wrapper
				- flash.each do |name, msg|
					%div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
						%a.close{"data-dismiss" => "alert"} &#215;
				.container-fluid
					.row-fluid
						.span2
							= render :partial => 'admin/parts/menu'
						.span10
							= yield
