%html
	%head	
		= stylesheet_link_tag "application"
		= yield :stylesheet

		= javascript_include_tag "application"
		= yield :javascript

		= csrf_meta_tags
		%title
			BpiFind
	%body
		.header
		.body
			.wrapper
				.container-fluid
					.row-fluid
						.span12
							= render :partial => 'admin/parts/bar'
							.row-fluid
								.span2
									= render :partial => 'admin/parts/menu'
								.span10
									- flash.each do |name, msg|
										%div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
											%a.close{"data-dismiss" => "alert"} &#215;
											= content_tag :div, msg.html_safe, :id => "flash_#{name}" if msg.is_a?(String)                                        
									= yield
